#footer-full
{
   background: #90aca2;
   border-bottom: 1px solid white;
   color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
padding-left: 10px;
}


#footer-full h2
{
  font-size: 18px;
text-transform: uppercase;
background: rgba(0, 0, 0, 0) url("../images/line.png") no-repeat scroll 1px 32px;
padding-bottom: 15px;
margin: 0;
}

#footer-full p
{
color: #ffffff;
font-size: 14px;
text-align: left;
line-height: 30px;
margin: 0;
padding: 0;
}

#footer 
{
   background: #90aca2;
}
#footer p
{
    color: #ffffff;
}

.overlay7
{
    width: 1100px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.overlay7 > div 
{
    float: left;
    width: 20%;
}

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 770px) {
        /* Styles */
        .overlay7 > div
        {
            width: 100%;
        }

        }
        /* iPads (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        /* Styles */
        .overlay7 > div 
        {
            width: 50%;
        }

        }
        
        /* Desktops and laptops ----------- */
        @media only screen  and (min-width : 1224px) {
        /* Styles */
        .overlay7
        {
            width: 1100px;
        }
        .overlay7 > div,
        {
            width: 20%;
        }

        }
        
        /* Large screens ----------- */
        @media only screen  and (min-width : 1824px) {
        /* Styles */
            .overlay7
            {
                width: 1100px;
            }
            .overlay7 > div,
            {
                width: 20%;
            }
            
        }
